
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
  min-height: 100vh;
  color: azure;
  background:linear-gradient(to right top, #edc5d8, #cfacc6, #b094b4, #8f7ea3, #6c6991, #5e6b92, #4f6c92, #3f6d8f, #4b839e, #5d99aa, #75afb6, #90c5c2);
}